{% extends "base.html" %}

{% block pagetitle %}Astro-Coffee@Princeton{% end %}

{% block pageheader %}

{% include "topbar.html" %}

<div class="row">
  <div class="small-12 columns">
    <h1>Welcome to Astro-Coffee@Princeton!</h1>
  </div>
</div>

{% end %}


{% block pagecontent %}

<div class="row no-mathjax">
  <div class="small-12 columns">

    <p>Every weekday, the {{ coffee_department }} at {{ coffee_institution }}
      gathers in <strong>{{ coffee_building }}'s {{ coffee_room }}</strong> to
      discuss the latest <a href="/astroph-coffee/papers/today">arXiv
      astro-ph</a> posting at <strong>10:30 AM</strong> over coffee. Visitors to
      the department are always welcome to join these discussions.</p>

    <p>This <a href="/astroph-coffee/about">astro-coffee server</a> is meant to
      help organize the discussion. It automatically finds and highlights papers
      from local authors, and allows the community to vote for articles they
      want to talk about. New paper listings are fetched from the arXiv between
      00:25 and 00:35 UTC Sunday through Thursday during the week.</p>

    <p>Currently, voting on papers is open between
      <strong>8:45 PM</strong> the night before and <strong>10:28 AM</strong>
      the morning of Astro-coffee. Everyone gets five votes (one per paper) to
      use as they please.</p>

    <p>Here is an itemized list for the coffee expectations:</p>
    <p>
    <li> We gather every day at 10:30 am for 30 minutes in Grand Central and on zoom. </li>
    <li> It is an opportunity to share news, introduce new members/visitors, and discuss new papers on arXiv over coffee/tea. </li>
    <li> We expect the coffee interaction to be informal and friendly. </li>
    <li> We generally expect to discuss ~3 papers, but there is no hard limit for this and the volunteer host has the privilege to arrange the schedule. </li>
    <li> All department members, from undergraduates to faculty, should feel free to join with diverse backgrounds and expertise.  Especially during the summer, when we anticipate more undergraduate students taking part, the coffee presentations should aim to be more pedagogical. </li>
    <li> We’d like to prioritize papers with local authors, especially students and postdocs.  </li>
    <li> Visitors who have a recent paper can also present it at coffee.  However, the host is responsible for informing the visitor that this is not a mini-talk, and that they should keep their words to ~10 minutes or so. </li>
    </p>
    <p> <strong>Last but not least, the coffee interactions should be respectful and professional, conforming to the <a href="
https://web.astro.princeton.edu/astrophysical-sciences-community-expectations-respectful-and-professional-conduct"> department community expectations.</a> </strong></p>

    <p> We hope coffee time is enjoyable and a good start to the day for everyone!</p>
    </div>
</div>

{% end %}

{% block pagejs %}

<script src="{{ static_url("js/coffee.js") }}"></script>

<script>
$(document).ready(function () {
  coffee.action_setup();
});
</script>

{% end %}
